* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
body {
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

.main {
  padding: 40px 20px;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://via.placeholder.com/1500") no-repeat center
    center/cover;
  color: white;
  text-align: center;
}

.home-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.home-content h3 {
  font-size: 48px;
  margin-bottom: 10px;
}

.about {
  padding: 60px 20px;
  background-color: #f4f4f4;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-content h2 {
  font-size: 36px;
  width: 100%;
  margin-bottom: 20px;
}

.about-content p {
  flex: 1;
  font-size: 20px;
  margin-right: 20px;
}

.about-content img {
  max-width: 200px;
  border-radius: 50%;
}

/* Project Section */
.projects {
  padding: 60px 20px;
  background-color: #eaeaea;
}
.projects-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: translateY(-10px);
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project p {
  font-size: 18px;
}

/* Contact Section */

.contact {
  padding: 60px 20px;
  background-color: #f4f4f4;
  color: white;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

contact ul {
  list-style: none;
}

.contact ul li {
  display: inline-block;
  margin: 0 15px;
}
