* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #081b29;
  color: #ededed;
}

.header {
  display: flex;
  justify-content: space-between;
}
